.header__logo {
    height: 3rem;
    border-radius: 50%;
   
  }
  nav{
    position:sticky;
    top: 0;
    width: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b2430;
    padding: 2rem 4rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,0.06);

  }
  .navbar{
    display: flex;
    align-items: center;
    justify-content:space-around;
   
  }


 
  .navbar li{
    list-style: none;
    padding: 0 1rem;
    /* position: relative; */
  }
  .navbar li a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    transition: 0.3s ease-in-out;

  }

  .navbar li a:hover,
  .navbar li a.active{
    color: #17cf97;
  }
  .navbar li a:hover::after,
  .navbar li a.active::after{
    content: "";
    width: 50%;
    height: .2rem;
    background-color:#17cf97;
    position: absolute;
    bottom: -.2rem;
    left: 1rem;
  }

  .mobile i {
    color: white;

  }


  @media only screen and (max-width:600px) {
    .header__logo {
        height: 3rem;
        border-radius: 50%;
       
      }
   

      nav{
       
        width:auto;
    
      }
      .navbar{
      display: none;
      }
     
      .navbar li{
        display: none;
      }

      .nav-btn #hidden{
        display:none
    
      }
      .navbar li a{
       display: none;
    
      }
      .nav-btn #hidden{
        position: absolute;
        left: 0rem;
        top: 8rem;
        height: 23rem;
        width: 100%;
        background-color: red;
    
      }
    
    
  }

 