.header__logo {
    height: 3rem;
    border-radius: 50%;
   
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b2430;
    padding: 1rem 4rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,0.06);

  }
  .navbar{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-btn #hidden{
    display: flex;

  }
 
  .navbar li{
    list-style: none;
    padding: 0 1rem;
    position: relative;
  }
  .navbar li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease-in-out;

  }

  .navbar li a:hover,
  .navbar li a.active{
    color: #17cf97;
  }
  .navbar li a:hover::after,
  .navbar li a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color:#17cf97;
    position: absolute;
    bottom: -4px;
    left: 20px;
  }

  .mobile i {
    color: white;

  }


  @media only screen and (max-width:600px) {
    .header__logo {
        height: 3rem;
        border-radius: 50%;
       
      }
      nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #1b2430;
        /* padding: 1rem 4rem; */
        box-shadow: 0 .5rem 1.5rem rgba(0,0,0,0.06);
    
      }
      .navbar{
      display: none;
      }
     
      .navbar li{
        display: none;
      }
      .navbar li a{
       display: none;
    
      }
      .nav-btn #hidden{
        position: absolute;
        left: 0px;
        top: 80px;
        height: 230px;
        width: 100%;
        background-color: red;
    
      }
    
    
  }

 